@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');

:root{
    --primary:#31572c79;
    --textcolor:#31572c;
}

.ph-contact-main{
    position: sticky;
    top: 0;
}

.ph-contact-main .ph-contact-body{

    .ph-contact-left{

        h1{
            color:var(--textcolor) ;
                font-family: "Lexend Mega", sans-serif;
            letter-spacing: 2px;
            font-size: 3rem;
        }

        .social-media{

            margin-top: 9vh;

            i{
                color: #31572c;
                font-size: 18px;
            }

            p{
                font-size: 15px;
                  font-family: "Molengo", sans-serif;
                font-weight: 600;
                letter-spacing: 2px;
                color: #31572c;
            }
        }

    }


    .ph-contact-right{

        .input-div{

            input , textarea , label{
                font-size: 14px;
                font-weight: 600;
                color:var(--textcolor) ;

            }

            label{
                font-size: 13px;
                font-weight: 600;
                margin-bottom: 8px;
            }

            input{
                height: 5vh; -moz-appearance: textfield;
            }

            input , textarea{
                resize: none;
                outline: none;
                color: #132A13;
                border: 1px solid #132a13;
                transition: .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }

            input:hover , textarea:hover {
                background-color: var(--primary);
            }
            p{
                color: red;
                margin: 0;
            }

            button{
                transition: .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                font-size: 12px;
                font-weight: 600;
                outline: none;
                border: 1px solid #132a13;
                background-color: transparent;
                width: 120px;
            }
            button:hover{
                border: 1px solid #132a13;
                color: white;
                background-color: #31572c;
            }

        }

    }

}