
:root{
    --primary:#31572c79;
    --textcolor:#31572c;
}

.photo-footer{

    height: 10vh;
    background-color: #31572C;
    color: white;

    .photo-footer-copyrights{

        a{
    color: white;
            text-decoration: none;
        }
    }
}